<!DOCTYPE html>
<html>
   <head>
      <title>Title of the document</title>
   </head>
   <body>
     <a href="/users/login" class="btn btn-primary btn-block mb-2"
       >login</a
     >
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
   </body>
</html>
